@import "normalize";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@include normalize();

$white: #ffffff;
$text-dark-blue: #36374c;
$bg-dark-red: #8a474e;
$bg-light-red: #bb6062;
$bg-light-blue: #5babb9;
$bg-dark-blue: #2a92a4;
$text-light-blue: #178a9d;

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body-wrapper {
  background: $white;
  color: $text-dark-blue;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.main-header {
  padding: 15px 25px;
  height: 127px;
}

.main-menu, .sidebar-menu-list__link {
  font-family: 'PT Sans', sans-serif;
}

.header-contacts {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: block;
  float: left;
}

.logo_img {
  width: 310px;
  height: 90px;
}

.header-block {
  float: right;
}

.header-contacts {
  font-style: normal;
  padding: 10px 0 0;
}

.header-tel {
  position: relative;
  display: inline-block;
  padding: 5px 5px 0 35px;
  text-decoration: none;
  font-size: 24px;
  color: $text-dark-blue;
}

.header-address {
  position: relative;
  display: inline-block;
  padding: 5px 5px 0 35px;
  font-size: 16px;
}

.main-menu {
  padding: 10px 5px 0;
  float: right;
}

.main-menu-list {
  font-size: 0;
}

.main-menu-list__item {
  display: inline-block;
  margin-left: 30px;
}

.main-menu-list__link {
  font-size: 14px;
  text-decoration: none;
  color: $text-dark-blue;
  &:hover {
    text-decoration: underline;
  }
}

.sidebar {
  width: 20%;
  float: left;
}

.sidebar__header {
  height: 95px;
  padding: 25px 0 0 25px;
  background: $bg-dark-red;
  &:hover {
    background: #9e1c20;
  }
}

.sidebar__username {
  height: 1em;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  color: $white;
}

.sidebar__usermail {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $white;
}

.sidebar-menu-list {

}

.sidebar-menu-list__item {

}

.sidebar-menu-list__link {
  position: relative;
  vertical-align: middle;
  display: block;
  min-height: 70px;
  padding: 25px 0 25px 65px;
  background: $bg-light-blue;
  text-decoration: none;
  font-size: 18px;
  color: $white;
  &:hover, &.active{
    background: $bg-dark-blue;
  }
}




.main-content {
  float: left;
  width: 80%;
}


.main-content__header {
  height: 95px;
  padding: 0 45px;
  background: $bg-light-red;
}

.main-content__header__title {
  display: block;
  position: relative;
  float:left;
  padding: 36px 0 36px 65px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: $white;
}

.ico-before {
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
  }
}

.ico-before-sidebar {
  &:before {
    width: 45px;
    height: 45px;
    top: 15px;
    left: 15px;

  }
}

.ico-before-header {
  &:before {
    width: 30px;
    height: 30px;
  }
}

.ico-before-content {
  &:before {
    width: 30px;
    height: 30px;
    top: 5px;
  }
}

.ico-profile {
  &:before {
    background-image: url("../i/profile-ico.svg");
  }
}

.ico-ts {
  &:before {
    background-image: url("../i/ts-ico.svg");
  }
}

.ico-routes {
  &:before {
    background-image: url("../i/routes-ico.svg");
  }
}

.ico-messages {
  &:before {
    background-image: url("../i/messages-ico.svg");
  }
}

.ico-megafon {
  &:before {
    background-image: url("../i/megafon-ico.svg");
  }
}

.ico-billing {
  &:before {
    background-image: url("../i/billing-ico.svg");
  }
}

.ico-history {
  &:before {
    background-image: url("../i/history-ico.svg");
  }
}

.ico-exit {
  &:before {
    background-image: url("../i/exit-ico.svg");
  }
}

.ico-address {
  &:before {
    top: 3px;
    background-image: url("../i/address-ico.svg");
  }
}

.ico-phone {
  &:before {
    top: 8px;
    background-image: url("../i/phone-ico.svg");
  }
}

.ico-person {
  &:before {
    background-image: url("../i/person-ico.svg");
  }
}

.ico-date {
  &:before {
    background-image: url("../i/date-ico.svg");
  }
}

.ico-mobile {
  &:before {
    background-image: url("../i/mobile-ico.svg");
  }
}

.ico-email {
  &:before {
    background-image: url("../i/email-ico.svg");
  }
}

.ico-map {
  &:before {
    background-image: url("../i/map-ico.svg");
  }
}





.main-content__header__settings-link {
  display: block;
  float:right;
  padding: 40px 0 40px 55px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: $white;
}

.main-content__page {
  padding: 15px 55px;
}

.profile__fields {
  display: table;
  margin: 0 0 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;

}

.profile-field {
  display: table-row;
}

.profile-field__lcell {
  display: table-cell;
  position: relative;
  padding: 10px 0 25px 55px;
  height: 35px;
  width: 380px;
}

.main-content__title {
  display: block;
  padding: 0 0 15px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: $text-light-blue;
}

.main-content__title-link {
  text-decoration: none;
}

.user-transport-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-transport-list-item {
  position: relative;
  padding: 0 0 0 235px;
}

.user-transport-list-item__img-cell {
  position: absolute;
  left: 0;
  top:0;
  width: 180px;
  height: 180px;
  border: 1px solid $text-dark-blue;
  border-radius: 10px;
}

.user-transport-list-item__info {

}

.user-transport-list-item__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: $text-dark-blue;
}

.transport-img {
  width: 100%;
  height: 100%;
}